<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="smsurl" value="http://sdkhttp.eucp.b2m.cn/sdkproxy/sendsms.action" />
    <add key="ConnectionString" value="server=192.168.100.168;user id=dbtest; password=1!dbtest; database=dbtest_demo; pooling=true;MinPoolSize=0;Encoding=UNICODE;port=5433;" />
    <add key="DefaultFibonacciLimit" value="10" />
  </appSettings>
  <!-- ServiceStack: Required to host at: /servicestack -->
  <location path="api">
    <system.web>
      <httpHandlers>
        <add path="ndtechapi*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
      </httpHandlers>
    </system.web>

    <!-- Required for IIS7 -->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add path="api*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
    </system.webServer>
  </location>
  <!-- Required for MONO -->
  <system.web>
    <httpHandlers>
      <add path="api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  <!-- Required for IIS7 -->
  <system.webServer>
    <!-- ServiceStack: Required -->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/log/${shortdate}"/>
    <targets>
      <target name="infoFile" xsi:type="File" fileName="${logDirectory}/info.txt" deleteOldFileOnStartup="false" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"/>
    </targets>
    <targets>
      <target name="debugFile" xsi:type="File" fileName="${logDirectory}/debug.txt" deleteOldFileOnStartup="false" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"/>
    </targets>
    <targets>
      <target name="errFile" xsi:type="File" fileName="${logDirectory}/errs.txt" deleteOldFileOnStartup="false" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="info" writeTo="infoFile"/>
    </rules>
    <rules>
      <logger name="*" minlevel="debug" writeTo="debugFile"/>
    </rules>
    <rules>
      <logger name="*" minlevel="error" writeTo="errFile"/>
    </rules>
  </nlog>
</configuration>
